@model Adatbazis.Models.Bejelentes

@{
    ViewData["Title"] = "Mindig Fényes Kft. - Sikeres bejelentés";
}

<h1>Sikeres bejelentés</h1>

<p>
    Köszönjük a bejelentést, munkatársaink hamarosan megkezdik a hiba elhárítását.
</p>
