@{
    ViewData["Title"] = "Mindig Fényes Kft. - Leírás";
}
<h1>@ViewData["Title"]</h1>

<p>Ezen az oldalon lehet hibabejelentést küldeni a köztéri világítással kapcsolatban a Mindig Fényes Kft. részére.</p>
