@{
    ViewData["Title"] = "Mindig Fényes Kft. - Leírás";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ezen az oldalon lehet hibabejelentést küldeni a köztéri világítással kapcsolatban a Mindig Fényes Kft. részére.
</p>

<h2>Impresszum</h2>

<p>
    <strong>Mindig Fényes Kft.</strong> <br />
    Ásottfölde<br />
    Kossuth Lajos u. 15.<br />
    Tel.: +36 30 123-4567<br />
</p>
